/*
* Define Partials
*/
@import 'normalize';
@import 'variables';
@import 'mixins';

// Variable declarations
$text-color: white;
$background-color: black;
// $font:
$font-size: 1rem;

// Image Width
$mobile-img-width: 100%;
$tablet-img-width: 33.33%;
$desktop-img-width: 25%;

// Device Width
$tablet-width: 768px;
$desktop-width: 1240px;

body {
  background: black;
  color: $text-color;
  justify-content: center;
}

header {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  padding: 2rem 0;
  img {
    padding: 0 0 1rem;
  }
}

img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.card {
  p {
    text-align: center;
    position: absolute;
    bottom: 0;
    padding: 1rem;
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7));
    width: 100%;
  }
}

#ajax-btn {
  margin: 10px;
  padding-left: 50px;
  padding-right: 50px;
  padding-top: 15px;
  padding-bottom: 15px;
}

ul {
  display: flex;
  flex-wrap: wrap;
}

li {
  text-align: center;
  width: $mobile-img-width;
  height: 300px;
  position: relative;
}

footer {
  display: flex;
  align-items: center;
  justify-content: center;
}

.copyright-logo {
  width: 20px;
  margin: 5px;
}

.card {
  background-position: center;
  background-size: cover;
}
